html,body {

  margin: 0;
  height: 100%;
}
*{
  font-family: 'Pretendard';
}

#wrap {width: 960px; height: auto; min-height: 600px;
}

#headBox {width: 100%;}
#viewBox {margin: auto;}
#footBox {width: 100%;}
/* a_base.css *
