@media all and (min-width: 1920px) {
  #wrap {width: 100%; min-height: 600px;}
  
  /* #headBox ========================== */
  #headBox {
    width: 100%; min-width: 1920px;
    height: auto;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fafafa;
  }
  .headinner {
    width: 100%;
    height: 100%;
    margin: auto; 
    box-sizing: border-box;
  }
  /* logo part */
  .headinner h1 {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
  }
  .headinner h1 button {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 600;
  }
  
  /* user navigation */
  .unb {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    justify-content: center;
  }

  /* page 이동 */
  /* portfoilo button */
  .portfolio_part {
    width: 20.5479%;
    height: 100%;
    line-height: 80px;
  }
  .portfolio_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  .portfolio_part a:hover {
    font-size: 20px;
    font-weight: 700;
    color: orange;
  }
  /* about button */
  .about_part {
    width: 19.1781%;
    height: 100%;
    line-height: 80px;
  }
  .about_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  .about_part a:hover {
    font-size: 20px;
    font-weight: 700;
    color: orange;
  }
  /* skills button */
  .skills_part {
    width: 19.1781%;
    height: 100%;
    line-height: 80px;
  }
  .skills_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  .skills_part a:hover {
    font-size: 20px;
    font-weight: 700;
    color: orange;
  }
  /* project button */
  .project_part {
    width: 20.5479%;
    height: 100%;
    line-height: 80px;
  }
  .project_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  .project_part a:hover {
    font-size: 20px;
    font-weight: 700;
    color: orange;
  }
  /* clone button */
  .clone_part {
    width: 20.5479%;
    height: 100%;
    line-height: 80px;
  }
  .clone_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  .clone_part a:hover {
    font-size: 20px;
    font-weight: 700;
    color: orange;
  }
  /* contact button */
  .contact_part {
    width: 20.5479%;
    height: 100%;
    line-height: 80px;
  }
  .contact_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  .contact_part a:hover {
    font-size: 20px;
    font-weight: 700;
    color: orange;
  }
  .header_m {display: none;}

  /* all scroll animation */
  .scroll {
    opacity: 0;
    transition: all .9s steps(20);
  }
  
  html #wrap {
    overflow: auto;
    height: 100%;
  }

  /* portfolio cover --------------- */
  #portfolio {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fafafa;
  }
  .cover {
    width: auto;
    height: 80%;
    position: relative;
    display: grid;
  }
  .cover img {
    width: 510px;
    height: 510px;
    margin: auto;
    border-radius: 50%;
  }
  .cover span {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 42px;
    line-height: 110px;
    color: #000;
  }
  
  /* about part ---------------------------- */
  #about {
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
    background-color: #fafafa;
    margin-top: -143px;
    padding-top: 143px;
  }
  .about_inner {
    width: 62.5%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
  }
  h3 {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 20px;
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #566270;
  }
  .left_part {
    width: 25%;
    margin: 0 auto;
  }
  .profile_img {
    width: 225px;
    height: 295px;
  }
  .profile_img img {
    width: 100%;
    height: 100%;
  }
  .about_text {
    width: auto;
    height: auto;
  }
  .about_text span {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }
  .line {
    content: "";
    width: 90px;
    border-top: 2px solid #666;
    margin-bottom: 5px;
  }
  .about_text p {
    font-size: 16px;
    font-weight: 300;
  }
  .name {
    text-transform: uppercase;
  }
  .right_part {
    width: 75%;
  }
  .introduction_part span {
    font-size: 17px;
    font-weight: 500;
  }
  .introduction_part span .boldname {
    font-size: 18px;
    font-weight: 600;
    color: orange;
  }
  .introduction_part p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 10px;
  }
  .sub_title {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .right_part ul li {
    font-size: 16px;
    line-height: 20px;
  }
  .skill {
    display: flex;
    width: 74%;
  }
  .skill img {
    width: 100%;
    height: 100%;
  }
  .skill div {
    width: 12%;
    margin: auto;
  }

  /* project part ------------------------ */
  #project {
    width: 100%; min-width: 1920px;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
    background-color: #fafafa;
    margin-top: -143px;
    padding-top: 143px;
  }
  .project_inner {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .project.visible {
		opacity: 1;
		transform: translateX(0px);
    /* transform: matrix(1,0,0,1,50,0); */
		transition: all 1.1s;
	}
  
  /* project_01 */
  .project_01 {
    width: 42.0313%;
    height: 256px;
    position: relative;
    margin-left: 52%;
    /* left: 643px; */
    padding: 45px 80px;
    background-image: url(../../img/project_ohou.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateX(110px);
    opacity: 0;
  }
  .project_01 img {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
  }
  .project_01 p {
    font-size: 19px;
    font-weight: 400;
  }
  .project_contact01 {
    width: 154px;
    height: 67px;
    position: relative;
    top: -50px;
    left: 300px;
    /* margin: auto; */
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    text-align: center;
  }


  /* project_02 */
  .project_02 {
    width: 58.8542%;
    height: 288px;
    position: relative;
    left: 0;
    padding: 50px 100px;
    margin-top: 45px;
    background-image: url(../../img/project_ediya.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateX(-130px);
    opacity: 0;
  }
  .project_02 img {
    width: 395px;
    height: 35px;
    margin-bottom: 40px;
  }
  .project_02 p {
    font-size: 19px;
    font-weight: 400;
  }
  .project_contact02 {
    width: 154px;
    height: 67px;
    position: relative;
    top: -50px;
    left: 300px;
    /* margin: auto; */
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    text-align: center;
  }

  /* project_03 */
  .project_03 {
    width: 52.0833%;
    height: 298px;
    position: relative;
    /* left: 390px; */
    margin-left: 42%;
    padding: 50px 100px;
    margin-top: 45px;
    background-image: url(../../img/project_portfolio.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateX(110px);
    opacity: 0;
  }
  .project_03 img {
    width: 193px;
    height: 40px;
    margin-bottom: 40px;
    position: relative;
    display: block;
    margin-left: auto;
  }
  .project_03 p {
    font-size: 19px;
    font-weight: 400;
    text-align: right;
  }
  .project_contact03 {
    width: 154px;
    height: 67px;
    position: relative;
    top: -50px;
    left: 300px;
    /* margin: auto; */
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    text-align: center;
  }

  /* project_04,05 */
  .project4_5 {
    width: 100%;
    display: flex;
  }

  /* project_04 */
  .project_04 {
    width: 39.0625%;
    height: 298px;
    position: relative;
    /* top: -340px; */
    /* left: 540px; */
    padding: 30px 60px;
    margin-top: 45px;
    background-color: #000;
    transform: translateX(-130px);
    opacity: 0;
  }
  .project_04 img {
    width: 186px;
    height: 93px;
    margin-bottom: 20px;
    position: relative;
  }
  .project_04 p {
    font-size: 19px;
    font-weight: 400;
    color: #fff;
  }
  .project_contact04 {
    width: 154px;
    height: 67px;
    position: relative;
    top: -60px;
    left: 250px;
    /* margin: auto; */
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    text-align: center;
  }
  /* project_05 */
  .project_05 {
    width: 26.7188%;
    height: 298px;
    position: relative;
    /* top: -340px; */
    padding: 30px 70px;
    margin-top: 45px;
    margin-right: 74px;
    background-color: #fff;
    transform: translateX(-130px);
    opacity: 0;
  }
  .project_05 img {
    width: 201px;
    height: 34px;
    margin-bottom: 40px;
    position: relative;
    display: block;
    margin-left: auto;
  }
  .project_05 p {
    font-size: 19px;
    font-weight: 400;
    text-align: right;
  }
  .project_contact05 {
    width: 154px;
    height: 67px;
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    text-align: center;
  }

  /* project 자세히 보기 */
  .btn, .web_btn{
    width: 67px;
    height: 67px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50%;
    background-color: #566270;
    cursor: pointer;
  }
  .btn:hover, .web_btn:hover {
    font-size: 16px;
    font-weight: 500;
    color: orange;
  }
  
  /* clone coding part --------------------------- */
  #clone {
    width: 100%; min-width: 1920px;
    height: auto;
    margin: auto;
    padding-bottom: 100px;
    background-color: #fafafa;
    margin-top: -143px;
    padding-top: 193px;
  }
  .clone_inner {
    width: 62.5%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
  }
  .clone_inner div {
    width: 50%;
    height: 201px;
    /* border: solid 1px #000; */
    margin-bottom: 20px;
  }
  .clone_inner a {
    width: 100%;
    height: 100%;
    display: block;
  }
  .clone_logo {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: #566270;
  }
  .clone_logo:hover {
    color: orange;
  }
  .inner_title {
    width: 100%;
    margin-top: 20px;
    display: block;
  }
  .clone_top {
    width: 50%;
    display: flex;
    margin-right: 10px;
  }
  .clone_top div {
    width: 50%;
    height: 201px;
    border: solid 1px #000;
  }
  .clone_top div:hover {
    border: solid 3px orange;
    transform: scale(0.98);
  }
  .clone_coupang {
    margin-right: 10px;
  }
  .clone_inner .inner_title {
    font-size: 17px;
    text-align: center;
  }
  .clone_bottom {
    width: 50%;
    display: flex;
  }
  .clone_bottom div {
    width: 50%;
    height: 201px;
    border: solid 1px #000;
  }
  .clone_bottom div:hover {
    border: solid 3px orange;
    transform: scale(0.98);
  }
  .clone_google {
    margin-right: 10px;
  }
  #clone p {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    font-size: 14px;
    text-align: right;
    color: #777;
  }
  /* contact part -------------------------------- */
  #contact {
    width: 100%; min-width: 1920px;
    height: auto;
    background-image: url(../../img/contact_backimg.png);
    padding-bottom: 50px;
  }
  /* contact title */
  .contact_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px 0;
  }
  .contact_logo h3 {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  .contact_inner {
    width: 78.125%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
  }
  .email {
    font-size: 30px;
    color: #fff;
    letter-spacing: 10px;
    margin-bottom: 80px;
  }
  .email:hover {
    color: orange;
    font-weight: 500;
  }
  .contact_text ul {
    margin-bottom: 50px;
    line-height: 35px;
  }
  .contact_text ul li {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
  }
  /* contact address */
  .contect_info {
    width: 94%;
    margin: auto;
    display: flex;
  }
  .contect_info a {
    width: 17%;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #fff;
  }
  .contect_info a:hover {
    color: orange;
    font-weight: 500;
  }
  /* copy right */
  .contect_info p {
    width: 83%;
    height: 50px;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    color: #ccc;
  }
}
